* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

input {
    position: absolute;
    display: inline-block;
    width: 10.7em;
    height: 5.7em;
    border: 0;
    margin-bottom: .35em;
    background-color: #d38d72;
    border-radius: 15px;
    z-index: 99;
    font-size: 1.07em;
}

input:hover {
    background-color: #5cebeb;
}

h1 {
    margin: 2.14em auto;
    text-align: center;
    color: #c5e775;
}

.input {
    top: 7.14em;
    left: 1.42em;
}

.rollCall {
    top: 14.285714rem;
    left: 1.428571rem;
}

.del {
    top: 7.142857rem;
    right: 1.428571rem;
}

.delAll {
    top: 14.285714rem;
    right: 1.428571rem;
}

.box {
    position: absolute;
    width: 14.285714rem;
    background-color: pink;
    top: 21.428571rem;
    right: 1.428571rem;
    text-align: center;
    border-radius: 1.428571rem;
    max-height: 23.571429rem;
}

.box ul li {
    line-height: 1.785714rem;
}

.box h2 {
    line-height: 2.857143rem;
    color: #d38d72;
}

.boxs {
    position: absolute;
    width: 14.285714rem;
    height: 7.142857rem;
    background-color: pink;
    top: 50%;
    left: 50%;
    margin-top: -3.571429rem;
    margin-left: -7.142857rem;
    border-radius: 1.428571rem;
    text-align: center;
    line-height: 7.142857rem;
}

.boxs_h2 {
    position: absolute;
    width: 14.285714rem;
    text-align: center;
    color: #d38d72 ;
    top: 50%;
    left: 50%;
    margin-top: -7.142857rem;
    margin-left: -7.142857rem;
}

.point {
    position: absolute;
    color: #ccc;
    font-size: .857143rem;
    top: 80%;
    left: 40%;
}
